---
nginx_service_name: nginx
nginx_conf_dest: /etc/nginx/
nginx_validate_command: nginx -t
website_src_dir: /opt/website
domain: "{{ lookup('env', 'DOMAIN') }}"
website_dest_dir: "/var/www/{{ domain }}/website"
