- name: Ensure each required group is present
  ansible.builtin.group:
    name: "{{ item }}"
    state: present
  loop: "{{ managed_groups }}"
  when: managed_groups | length > 0

- name: Gather group database
  ansible.builtin.getent:
    database: group
  when: managed_groups | length > 0

- name: Build list of unmanaged custom groups
  ansible.builtin.set_fact:
    removable_groups: "{{ (removable_groups | default([])) + [item.key] }}"
  loop: "{{ ansible_facts.getent_group | dict2items }}"
  when:
    - managed_groups | length > 0
    - item.value | length > 1
    - (item.value[1] | int) > managed_group_gid_min
    - item.key not in managed_groups
    - item.key not in managed_group_exclusions

- name: Remove unmanaged custom groups
  ansible.builtin.group:
    name: "{{ item }}"
    state: absent
  loop: "{{ removable_groups | default([]) }}"
  when:
    - managed_groups | length > 0
    - (removable_groups | default([])) | length > 0
